@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror {
  figure figcaption {
    @apply m-0;
    @apply text-sm;
  }

  figcaption.is-empty::before {
    content: attr(placeholder);
    pointer-events: none;
    color: #adb5bd;
    float: left;
    height: 0;
  }

  div[data-type="imageBlock"] {
    @apply relative;
  }

  div[data-type="imageBlock"] img {
    margin: 0;
  }

  div[data-type="imageBlock"] .add-caption-image {
    @apply text-sm text-neutral-500;
    @apply no-underline;

    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.2s;
  }

  div[data-type="imageBlock"]:hover .add-caption-image {
    opacity: 1;
  }

  figure .add-caption-image {
    display: none;
  }
}
