@tailwind base;
@tailwind components;
@tailwind utilities;

.notion-tap {
  @apply relative bg-white;
  @apply py-6;
}

.notion-tap p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.notion-tap {
  figure figcaption {
    @apply m-0;
    @apply text-sm;
  }

  figcaption.is-empty::before {
    content: attr(placeholder);
    pointer-events: none;
    color: #adb5bd;
    float: left;
    height: 0;
  }

  div[data-type="imageBlock"] {
    @apply relative;
  }

  div[data-type="imageBlock"] img {
    margin: 0;
  }

  div[data-type="imageBlock"] .add-caption-image {
    @apply text-sm text-neutral-500;
    @apply no-underline;

    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.2s;
  }

  div[data-type="imageBlock"]:hover .add-caption-image {
    opacity: 1;
  }

  figure .add-caption-image {
    display: none;
  }
}

.notiontap-bookmark {
  @apply border rounded;

  & > a {
    @apply hover:bg-neutral-50;
  }

  & > * {
    @apply flex;
  }

  .notiontap-bookmark__item:first-child {
    @apply px-4 py-2;
    flex: 4 1 180px;
  }

  .notiontap-bookmark__item + .notiontap-bookmark__item {
    flex: 1 1 180px;
    position: relative;

    & > img {
      @apply absolute inset-0;
      @apply h-full w-full;
      @apply object-cover;
    }
  }

  .notiontap-bookmark__title {
    @apply text-base font-semibold;
    @apply line-clamp-1;
  }

  .notiontap-bookmark__desc {
    @apply mt-2;
    @apply text-sm;
    @apply line-clamp-2;
  }

  .notiontap-bookmark__url-wrapper {
    @apply mt-2;
    @apply flex items-center space-x-2;
  }

  .notiontap-bookmark__favicon-wrapper {
    @apply w-4 h-4 relative;

    & > * {
      @apply absolute inset-0;
    }
  }

  .notiontap-bookmark__src {
    @apply text-sm flex-1 line-clamp-1;
  }
}

.notion-tap div[data-type="webComponent"] {
  @apply px-8 pt-8 py-6 rounded-lg;
  @apply outline-0;
  @apply text-sm;

  position: relative;
  white-space: pre-wrap;
  color: var(--tw-prose-pre-code);
  background-color: var(--tw-prose-pre-bg)
}

.notion-tap div[data-type="webComponent"]::before {
  @apply bg-neutral-400;
  @apply text-neutral-900 text-xs font-semibold;

  content: 'Web component';
  position: absolute;
  top: 0;
  left: 16px;
  padding: 2px 4px;
  border-radius: 0 0 4px 4px;
}

.notion-tap {
  .search-and-replace {
    @apply fixed top-0 left-1/2;
    @apply bg-neutral-100;

    transform: translate(-50%, 0);

    input {
      @apply bg-neutral-100;
      @apply outline-0;
    }
  }

  .search-result {
    background-color: rgba(255, 217, 0, 0.5);
  }

  .search-result-current {
    background-color: rgba(255, 217, 0, 1);
  }
}

.notion-tap div[data-type="tableOfContents"] {
  @apply flex flex-col;
  @apply text-sm;
}
