.tiptap ul[data-type=taskList],.prose ul[data-type=taskList] {
    list-style-type: none;
    padding: 0
}

.tiptap ul[data-type=taskList] p,.prose ul[data-type=taskList] p {
    margin: 0
}

.tiptap ul[data-type=taskList] li,.prose ul[data-type=taskList] li {
    display: flex
}

.tiptap ul[data-type=taskList] li>label,.prose ul[data-type=taskList] li>label {
    margin-top: 0;
    margin-right: .5rem;
    flex: 1 1 auto;
    flex-shrink: 0;
    flex-grow: 0;
    -webkit-user-select: none;
    user-select: none
}

.tiptap ul[data-type=taskList] li>div,.prose ul[data-type=taskList] li>div {
    flex: 1 1 auto;
    margin: 0;
}

.tiptap ul[data-type=taskList] li[data-checked=true],.prose ul[data-type=taskList] li[data-checked=true] {
    text-decoration-line: line-through
}

